/* ### Primary

- Red: hsl(0, 100%, 74%) 
- Green: hsl(154, 59%, 51%)


/* <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg">
      <g fill="none" fill-rule="evenodd">
        <circle fill="#FF7979" cx="12" cy="12" r="12" />
        <rect fill="#FFF" x="11" y="6" width="2" height="9" rx="1" />
        <rect fill="#FFF" x="11" y="17" width="2" height="2" rx="1" />
      </g>
    </svg> */


/* ### Accent

- Blue: hsl(248, 32%, 49%)

### Neutral

- Dark Blue: hsl(249, 10%, 26%) 
- Grayish Blue: hsl(246, 25%, 77%)

## Typography

### Body Copy

- Font size: 16px

### Font

- Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 400, 500, 600, 700 */

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&family=Poppins&family=Roboto+Mono&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 1;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

section {
    background-color: hsl(249, 10%, 26%);
    background-image: url("images/bg-intro-desktop.png");
    /* margin: 100px; */
}

section .container {
    padding: 120px 100px;
}
.register div{
    margin-block: 20px;
}
.container {
    background-color:  hsl(0, 100%, 74%);
    background-image: url("images/bg-intro-desktop.png");
      display: flex;
}

.content {
    padding: 130px 0px 0px 0px;
    width: 500px;
}

.content h3 {
    margin-bottom: 10px;
    font-size: 40px;
    padding: 0px;
}

.content p {
    font-size: 16px;
}

img {
  position: relative;  
 float: right;
 top: -32px;
 right: 15px;
 display: none;
}

img[aria-hidden="true"] {
    display: block;
}

.form {
    width: 500px;
    height: 480px;
    margin-left: 50px;
}

.trial {
    background-color: hsl(248, 32%, 49%);
    padding: 10px 0px;
    margin-bottom: 25px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 8px 2px -2px gray;
}
.trial p {
    font-size: 12px;
    text-align: center;
}
.register {
    border-radius: 10px;
    background-color: white;
    padding: 15px 30px;
}

/* .register div {
    padding-top: 18px;
} */

input {
    color: black;
    width: 100%;
    padding: 6px 20px;
    margin: 0px;
    box-sizing: border-box;
}

::placeholder {
    color: black;
}

#warning {
    color: black;
    font-size: 7px;
    text-align: center;
    margin-top: 6px;
}

#warning span a {
    color: red;
    font-size: 8px;
}

button {
    background-color: hsl(154, 59%, 51%);
    width: 100%;
    border-radius: 5px;
    padding: 10px 0;
    cursor: pointer;
    /* margin-bottom: 10px; */
}

@media screen and (max-width: 375px) {

    .container {
        display: grid;
        grid-template-rows: 300px 500px;
        /* flex-direction: row; */
        /* width: 100%; */
        background-image: url("images/bg-intro-mobile.png");
        padding-left: 0px;
        width: 100%;
    }
    .trial{

        margin-left: 0;
    }
    .content {
        padding: 0px;
        width: 100%;         
    }
    .content p {
        text-align: center;
        margin-top: 30px;
    }
    .content h3 {
        text-align: center;
    }
    section .container{
    padding: 100px 50px 0px 0px ;
    }

    .form {
        margin-left: 8%;
        width: 100%;
    }
    .trial{
        width: 85%;
    }
    .register{
        width: 70%;
    }
}